
body{
    background-color: #313131;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    --cor-destaque: #7e7ed6;
}

@media (max-width: 480px) {
    .topicos {
      font-size: 16px;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {

    body {
        max-width: 480px;
        min-width: 320px;
        position: relative;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) {

    body{
        max-width: 768px;
        min-width: 481px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {

    body{
        max-width: 1024px;
        min-width: 769px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {

    body{
        max-width: 1200px;
        min-width: 1025px;
    }
}

.header {

    position: relative; 
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    display: flex; 
    justify-content: center;
    text-align: center;
    align-items: center; 
}
    
.header_titulo{
    font-size: 18px;
    text-align: center;
}

.header__logo {
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.header__logo:hover {
    opacity: .6;
}

.header__logo:focus {
    outline: none;
    background-color: #4d4d4d;
    border-radius: 3px;
}

.check{
    background: #aaa7a7;
    transition: background .5s;

}

.bi-sun{
    font-size: 0.9rem;
    position: absolute;
    top: 2px;
    left: 4px;
    color: #fde613;;
}

.bi-moon{
    font-size: 0.9rem;
    position: absolute;
    top:2px;
    right: 3px;
    color: #908484;
}
.check.active{

    background: #123;
}

.checkbox{
    width: 45px;
    height: 20px;
    top: 20px;
    right: 2px;
    border: 2px solid #fff;
    border-radius: 60px;
    position: absolute;
    cursor: pointer;
}

.checkbox:before
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    transition: left .5s;

}

.checkbox.active:before
{
    left: 23px;

}

.icone_logo {
    
    position: absolute;
    max-width: 70px;
    max-height: 70px;
    top: 4px;
    right: 90%; 
    height: auto;
    width: auto;
}

.icone_logo_2 {
    
    position: absolute;
    max-width: 55px;
    max-height: 70px;
    top: 4px;
    left: 90%;
    height: auto;
    width: auto;
}

.icone {
    width: 24px;
    border-radius: 50%;
}

.icone--texto{
    color: #fff;
    margin: 0 8px;
    animation: pulsar 1s infinite alternate;
}

.main {
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px 0px 20px;
}

.biografia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.biografia__foto {
    width: 100%;
    height: 100%;
    max-height: 220px;
    max-width: 250px;
    border-radius: 50%;
    border: 6px solid #868686;
    margin: 16px 0;
}

.biografia__nome {
    font-family: 'Damion', cursive;
    font-size: 40px;
    font-weight: 400;
    color: var(--cor-destaque);
    margin: 16px 0;
    text-align: center;
    justify-content: center;
}

.biografia__descricao {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    max-width: 650px;
    text-align: justify;
    text-indent: 30px;
}

.container_carrosel{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.container_images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height:100%;
    min-height: 250px;
}

.carrosel{
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on{
    opacity: 1;
}

#prev_button, #next_button{
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

#prev_button img, #next_button img{
    width: 100%;
    height: 100%;
    right: 20%;
    opacity: 1;
    filter: invert(1);

}

#prev_button{
    transform: rotate(180deg);
}

img{
    width: 80px;
    height: 250px;
}

.topicos{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    width: 100%;
    max-width: 650px;
    text-align: justify;
}

.topicos h2{
    color: var(--cor-destaque);
    text-align: center;

}

.link {
    text-decoration: none;
    color: #ffffff;
}

.video{
/*     position: relative;
    width: 100%;
    padding-bottom: 50%;
    align-items: center;
    justify-content: center; */

    position: relative;
    padding-bottom: 50%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video iframe{

/*     position:absolute;
    width: 100%; 
    height: 100%;
    border: none; */

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.video h2{
    color: var(--cor-destaque);
    text-align: center;
}

.footer {
    width: 100%;
    height: 100%;
    min-width: 400px;
    max-height: 28px;
    background-color: var(--cor-destaque);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
    position:relative;
    bottom: 0;
}

.footer__texto{
    font-size: 14px;
    font-weight: 400;
    color: #fcfcfc;
    display: flex;
    align-items: center;
}

.footer__texto img{
    height: 22px;
}

@keyframes pulsar {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.2);
    }
}


